@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cavolini;
  src: url("./assets/fonts/CAVOLINI.TTF");
}
@font-face {
  font-family: CavoliniBold;
  src: url("./assets/fonts/CAVOLINIBOLD.TTF");
}
body {
  height: 100vh;
}
.cavolini {
  font-family: Cavolini !important;
}
.cavoliniBold {
  font-family: CavoliniBold;
}

* {
  font-family: Varela round;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
.logo {
  padding-bottom: 8px;
}
.ql-editor {
  font-size: 1.05rem;
}
.ql-editor.ql-blank::before {
  color: gray;
}
:root {
  --customOrange: "#FE8769";
  --customBeige: "#F8E4D5";
  --customDarkBlue: "#10172a";
  --customMediumBlue: "#4A5EA3";
  --customLightBlue: "#8B9EE0";
  --customGreenBlue: "#A5CAD2";
}
