@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cavolini;
  src: url("./assets/fonts/CAVOLINI.TTF");
}
@font-face {
  font-family: CavoliniBold;
  src: url("./assets/fonts/CAVOLINIBOLD.TTF");
}
body {
  height: 100vh;
}
.cavolini {
  font-family: Cavolini !important;
}
.cavoliniBold {
  font-family: CavoliniBold;
}

* {
  font-family: Varela round;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
.logo {
  padding-bottom: 8px;
}
.ql-editor {
  font-size: 1.05rem;
}
.ql-editor.ql-blank::before {
  color: gray;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: var(--customMediumBlue);
}

.floatShadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.dark .floatShadow {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

:root {
  --customOrange: "#FE8769";
  --customBeige: "#F8E4D5";
  --customDarkBlue: "#10172a";
  --customMediumBlue: "#758EB7";
  --customLightBlue: "#8B9EE0";
  --customGreenBlue: "#A5CAD2";
}
